@font-face {
    font-family: 'Changa One';
    src: url('ChangaOne.woff2') format('woff2'),
        url('ChangaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Changa One';
    src: url('ChangaOne-Italic.woff2') format('woff2'),
        url('ChangaOne-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

